{% extends 'base.html.twig' %}

{% block css %}
<style >


.logo{
  width: 150px;
  height: 150px;

}
</style>
{% endblock %}

{% block body %}

<h3>{{ fruit.name }}</h3>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="">
          <strong>Origin : </strong>{{fruit.origin}}
      </div>


      <div class="">
        <strong>Comestible : </strong>
        {% if fruit.comestible %} Oui
        {% else  %} Non
        {% endif %}
      </div>


      <div>
        {% if fruit.producer %}
        <strong>Producteur : </strong>
        <a href="{{path('producer_details' , {'id': fruit.producer.id})}}">
        {{fruit.producer.name}}

        </a>
        {% if fruit.producer.logo %}
          <img class="logo" src="{{asset('/img/logo/') ~ fruit.producer.logo }}" alt="">
          {% endif %}
        {% endif %}
      </div>


      <div>

        {% if fruit.retailors | length > 0 %}
        <strong>Détaillant :</strong>
        {% for r in fruit.retailors %}
        <div>
          {{r.name}}
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <div>

        {% if fruit.category | length > 0 %}
        <strong>Catégories :</strong>
        {% for c in fruit.category %}
        <div>
          {{c.name}}
        </div>
        {% endfor %}
        {% endif %}
      </div>



    </div>
    <div class="col-md-6">

    </div>

  </div>

</div>
{% endblock %}
