{% extends 'base.html.twig' %}


{% block body %}

<h2>Fruits</h2>
<form class="form-inline well" method="post">
  <div class="form-group">
    <input type="text" name="name" placeholder="Nom">
  </div>


  <div class="form-group">
    <input type="text" name="origin" placeholder="Origine">
  </div>


  <div class="form-group">
    <label for="comestible">Comestible</label>
    <input type="checkbox" name="comestible">
  </div>


  <div class="form-group">

    <select name="producer_id">

    {% for p in producers %}

    <option value="{{p.id}}">{{p.name}}</option>

    {% endfor %}

    </select>

  </div>



  <div class="form-group">
    <p>Catégories</p>
    {% for c in categories %}
    <input type="checkbox"  name="categories[]" value="{{c.id}}">{{c.name}}
    {% endfor %}
  </div>

  <input type="submit" name="submit" value="Enregisrer">
</form>
<hr>
<table class="table table-striped table-bordered">
  <tr>


  <th>Nom</th>
  <th>Origin</th>
  <th>Comestible</th>
  <th>Producteur</th>

  <th>Détaillants</th>
  <th>Action</th>
  </tr>
  {% for f in fruits %}
  <tr>
    <td>{{ f.name }}</td>
    <td>{{ f.origin }}</td>
    <td>
      {% if f.comestible == 1 %}
        Oui
        {% else %}
        Non
      {% endif %}
      <td>
      {% if f.producer %}
      {{f.producer.name}}
      {% else %}
      <p style="color:red">Aucun producer</p>
      {% endif %}
      </td>
    </td>
    <td>

    {% if f.retailors | length > 0 %}

      {% for r in f.retailors %}
      <div>
        {{r.name}}
      </div>
      {% endfor %}

      {% else  %}
        <p style="color:red">Aucun Détaillants</p>
      {% endif %}

    </td>
    <td>
      <a href="{{ path('fruit_details', {'id':f.id}) }}" class="btn btn-default btn-xs">Détails</a>

      <a href="{{ path('fruit_update', {'id':f.id}) }}" class="btn btn-primary btn-xs">Modifier</a>

      <a href="{{ path('fruit_delete', {'id':f.id}) }}" class="btn btn-danger btn-xs">Supprimer</a>

    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
